body {
  margin: 0;
  padding: 0;
  background-color: rgb(28, 28, 28);
  color: white;
  text-align: center;
  justify-content: center;
}

img {
  width: 400px;
  height: 400px;
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.highlight {
  background-color: #4caf50 !important;
}

/* Estilo do botão de carregamento de arquivo */
#fileInput {
  margin-bottom: 10px;
  display: none; /* Oculta o input original */
}

/* Estilo do botão personalizado */
.custom-file-upload {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo do botão personalizado ao passar o mouse */
.custom-file-upload:hover {
  background-color: #45a049;
}

/* Estilo do botão personalizado quando pressionado */
.custom-file-upload:active {
  background-color: #3e8e41;
}

.hidden {
  display: none;
}

/* Estilo da mensagem de erro ao não localizar código de barras válido */
#errorMessage {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

/* Estilo da mensagem ao ler código de barras repetidamente */
#codigoRepetidoMessage {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

/* Estilo da tabela */
#xmlTable {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

#xmlTable th,
#xmlTable td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

/* Estilo da div do nome do cliente */
#clientName {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Estilo da div do nome do ambiente */
#ambiente {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Estilo do container da tabela */
#tableContainer {
  display: none; /* Inicialmente oculto */
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* Estilo da tabela quando visível */
#tableContainer.show {
  display: block; /* Exibir quando a tabela estiver pronta */
}

.leitura-col {
  min-width: 150px; /* Largura mínima da coluna */
  padding-right: 10px; /* Espaçamento à direita para criar o "fechamento" */
  border-right: 5px solid white; /* Borda à direita para criar a aparência de fechamento */
}

#downloadcontent {
  margin-top: 100px;
}

#download {
  font-size: 16px;
  color: black;
  background-color: #fff;
  border: 2px solid #ffffff77;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  height: 50px;
  transition-duration: 0.4s;
  box-shadow: 0 1px 2px 0 #4caf50, 0 6px 20px 0 #4caf50;
}

#download:hover {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 2px 2px 0 #4caf50, 0 17px 50px 0 #4caf50;
}
