body {
  margin: 2px;
  padding: 0;
  background-color: rgb(28, 28, 28);
  color: white;
  text-align: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

img {
  width: 400px;
  height: 400px;
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.highlight {
  background-color: #4caf50 !important;
}

/* Estilo do input */
#codigoBarrasInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  transition: border-color 0.3s;
}

/* Estilo do input quando focado */
#codigoBarrasInput:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Estilo do input quando hover */
#codigoBarrasInput:hover {
  border-color: #45a049;
}

/* Estilo do botão de carregamento de arquivo */
#fileInput {
  margin-bottom: 10px;
  display: none; /* Oculta o input original */
}

/* Estilo do botão personalizado */
.custom-file-upload {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo do botão personalizado ao passar o mouse */
.custom-file-upload:hover {
  background-color: #45a049;
}

/* Estilo do botão personalizado quando pressionado */
.custom-file-upload:active {
  background-color: #3e8e41;
}

/* Estilo da mensagem de erro ao não localizar código de barras válido */
#errorMessage {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

/* Estilo da mensagem ao ler código de barras repetidamente */
#codigoRepetidoMessage {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

/* Estilo da tabela */
#xmlTable {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 2px;
}

#xmlTable th,
#xmlTable td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

/* Estilo da div do nome do cliente */
#clientName {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Estilo da div do nome do ambiente */
#ambiente {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Estilo do container da tabela */
#tableContainer {
  display: none; /* Inicialmente oculto */
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilo da tabela quando visível */
#tableContainer.show {
  display: block; /* Exibir quando a tabela estiver pronta */
}

#btnBaixarPDF {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

#btnBaixarPDF:hover {
  background-color: #45a049;
}
